S3method(plot,ddsPLS)
S3method(predict,ddsPLS)
S3method(print,ddsPLS)
S3method(summary,ddsPLS)
export(ddsPLS)
export(ddsPLS_App)
importFrom(Rcpp, evalCpp)
importFrom(flsa,flsa)
importFrom(foreach,"%do%")
importFrom(foreach,"%dopar%")
importFrom("graphics", "abline", "axis", "barplot", "image", "legend","matplot", "par", "points", "text", "title")
importFrom("stats", "cor", "cov", "density", "predict", "rnorm", "sd","var")
importFrom("utils", "head", "read.csv")
importFrom(graphics,layout)
useDynLib(ddsPLS)
